<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>com.test.helper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>test_universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6851E21D1BF9A83900D6E0D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6851E2361BF9A83900D6E0D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6851E2411BF9A83900D6E0D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6851E2761BF9D6D700D6E0D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
